@import url(base.css);

body {
    grid-template-areas: "date nav time"
        "title title title"
        "pics aboutme links"
        "pics aboutme links"
        "pics aboutme links"
        "footer footer footer";
}

#aboutme {
    font-size: 1.25em;
    backdrop-filter: blur(6px);
    padding: 1% 3%;
    border: solid 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .4), rgba(120, 120, 120, .4));
}

#pics {
    grid-area: pics;
}

figure {
    margin: 0;
}

#pics img {
    width: 90%;
    margin-bottom: 1%;
    margin-top: 5%;
}

#links {
    grid-area: links;
}

#pics, #links {
    text-align: center;
}

#date {
    grid-area: date;
}

#mainnav {
    grid-area: nav;
}

#time {
    grid-area: time;
}

#title {
    grid-area: title;
}

#aboutme {
    grid-area: aboutme;
}

footer {
    grid-area: footer;
}